@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	padding: 0;
	margin: 0 150px;
}

@media screen and (max-width: 1024px) {
	#root {
		margin: 0 72px;
	}
}
@media screen and (max-width: 768px) {
	#root {
		margin: 0 24px;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", "Helvetica";
	font-weight: 500;
}

* {
	scroll-behavior: smooth;
}

/* HERO SECTION */

.gradient-text {
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(
		90deg,
		rgb(60, 51, 239) 0%,
		rgb(244, 51, 102) 100%
	);
	background-clip: text;
}

@media screen and (max-width: 768px) {
	.miami {
		background: white;
	}
}
