@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	padding: 0 150px;
}

@media screen and (max-width: 1024px) {
	#root {
		padding: 0 72px;
	}
}
@media screen and (max-width: 768px) {
	#root {
		padding: 0 24px;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", "Helvetica";
	font-weight: 500;
}

* {
	scroll-behavior: smooth;
}
